exportClasses(Dataset)
export(dataset,
    leer_datos,
    guardar_datos,
    nombres_columna)
exportMethods(print)
export(varianzas,
    entropias,
    areasroc,
    correlaciones,
    infmutuas,
    graficoBoxplot)
export(discretizar,
       normalizar,
       estandarizar,
       filtrar)
importFrom("methods", "is", "new")
importFrom("utils", "read.table", "write.csv", "stack")
importFrom("stats", "var", "cor", "sd")
importFrom("graphics", "plot", "polygon", "barplot")


