exportClasses(Dataset)
export(dataset,
    leer_datos,
    guardar_datos,
    nombres_columna)
exportMethods(print)
export(varianzas,
    entropias,
    areasroc,
    correlaciones,
    infmutuas)
importFrom("methods", "is", "new")
importFrom("utils", "read.table", "write.csv")
importFrom("stats", "var", "cor")


